<h1>Come te, non c'e nessuno.  Tu sei l'unico al mondo.  Nei tuoi occhi profundi io vedo tanta tristezza...</h1>

<%= form_tag sessions_path do %>
      <%= label_tag :email %>
      <%= email_field_tag :email, params[:email] %>

      <%= submit_tag "Login Here" %>

<%end%>
